{% load static %}

<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% if challenge_list %}
    <ul>
    {% for challenge in challenge_list %}
        <li><a href="/challenge/{{ challenge.slug }}/">{{ challenge.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No challenges are available.</p>
{% endif %}