<html>
<head>
	{% load static %}

	<script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>

	{# Load the tag library #}
	{% load bootstrap3 %}

	{# Load CSS and JavaScript #}
	{% bootstrap_css %}
	{% bootstrap_javascript %}

	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
    
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
	<h1>MapRoulette</h1>
	<p>
	{% if request.user.is_authenticated %}
		Signed in as {{ user.get_username }} | <a href="/signout">Sign out</a>
	{% else %}
 		<a href="{% url "social:begin" backend="openstreetmap" %}">Sign in on OSM</a>
	{% endif %}
	</p>
    {% block content %}{% endblock %}
</body>

</html>